.Login {
    display: flex;
    flex-direction: column;
    width: 28rem;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.namingsBlock {
    padding-top: 2.375rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.naming, .activeButton {
    font-size: 18px;
    margin: 1rem;
}

.activeButton {
    cursor: pointer;
}

.activeButton:hover {
    color: #61dafb;
}

.loginInput, .passwordInput {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #DBDBDB;
    width: 24.75rem;
    height: 2.125rem;
    font-size: 14px;

    margin-bottom: 2.1875rem;
}

.loginButton {
    width: 24.75rem;
    height: 2.5rem;
    font-size: 14px;
    font-family: Roboto;
    cursor: pointer;

    background: rgba(190, 211, 63, .75);
    border-radius: 2px;
    border: none;

    margin-bottom: 2rem;

    color: #FFF;
}

.loginButton:hover {
    background: rgba(190, 211, 63, 1);
}

.loginButton:disabled {
    cursor: not-allowed;
}

.errorText {
    color: red;
}